/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background: white;
}

img {
	height: auto;
	max-width: 100%;
}

.container__no-padding {
	padding-left: 0;
	padding-right: 0; 
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;
  
	> .col,
	> [class*="col-"] {
		padding-right: 0;
		padding-left: 0;
	}
}

.fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

.link {
	color: $font_main;
	text-decoration: none;

	&:active, &:visited {
		color: $font_main;
	}
}

.section-title {
	@include font_bold;
	font-size: 4.2rem;
	line-height: 1.1428;
	color: $strong_color;
	position: relative;
	padding-bottom: 20px;
	margin: 0 0 20px 0;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 40px;
		height: 5px;
		background: $strong_color;
	}

	&_white {
		color: white;

		&::after {
			background: white;
		}
	}
}

.head-meta__dropdown {

}

.meta-dropdown {
	position: relative;

	&__button {
		display: block;
		border: 0;
		background: transparent;
		margin: 0;
		padding: 0;
		color: $body_color;
		font-size: 1.3rem;
		@include font_bold;
		position: relative;
		padding: 10px 20px 10px 15px;
		cursor: pointer;

		&::after {
			position: absolute;
			top: 20px;
			right: 4px;
			content: '';
			transition: transform .5s ease;
			transform-origin: center .1rem;
			border: .45rem solid transparent;
			border-top: .43rem solid $body_color;
		}
	}
	&__body {
		position: absolute;
		top: -4px;
		left: -10px;
		visibility: hidden;
		opacity: 0;
		transition: visibility 0.4s ease,
					opacity 0.4s ease,
					transform 0.4s ease;
	}

	&__list {
		padding: 6px 0;
		margin: 0;
		list-style: none;
		border: 1px solid #dcdcdc;
		border-radius: 4px;
		background: #fff;
	}

	&__list-item {
		@include font_bold;
		font-size: 1.3rem;
		color: #a8beb7;
		padding: 7px 24px;
		cursor: pointer;

		&_current {
			background: #e4f5ff;
			color: $springGreen;
		}

		&:hover {
			background: #e4f5ff;
		}
	}
}

.meta-dropdown_opened .meta-dropdown__body {
	visibility: visible;
	opacity: 1;
}