/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background: #fff;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 1em 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

.container__no-padding {
	padding-left: 0;
	padding-right: 0; 
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;
  
	> .col,
	> [class*="col-"] {
		padding-right: 0;
		padding-left: 0;
	}
}

.btn {
	display: block;
	border-radius: 4px;
	cursor: pointer;
	text-transform: uppercase;
	@include transition(border-radius, .4s);

	&:hover {
		border-radius: 30px; 
	}
}

.pure-green__btn {
	height: 36px;
	line-height: 34px;
	width: 153px;	
	color: $font_green;
	background: #fff;
	text-align: center;
	font-size: 1.1rem;
	font-weight: bold;
	letter-spacing: 0.28px;
	border: 1px solid $font_green;	

	&:visited,
	&:active {
		color: $font_green;
	}
}