/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background: white;
}

img {
	height: auto;
	max-width: 100%;
}

.site {
	overflow: hidden;
}

.container__no-padding {
	padding-left: 0;
	padding-right: 0; 
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;
  
	> .col,
	> [class*="col-"] {
		padding-right: 0;
		padding-left: 0;
	}
}

.fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

.link {
	color: $body_color;
	text-decoration: none;

	&:active, &:visited {
		color: $body_color;
	}

}

.section-title,
.block-title {
	@include font_bold;
	font-size: 4.2rem;
	line-height: 1.1428;
	color: $strong_color;
	position: relative;
	padding-bottom: 20px;
	margin: 0 0 20px 0;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 40px;
		height: 5px;
		background: $strong_color;
	}

	&_white {
		color: white;

		&::after {
			background: white;
		}
	}
}

.block-title {
	font-size: 3.2rem;
	line-height: 4.0rem;
}

// .head-meta__dropdown {

// }

.meta-dropdown {
	position: relative;

	&__button {
		display: block;
		border: 0;
		background: transparent;
		margin: 0;
		padding: 0;
		color: $body_color;
		font-size: 1.3rem;
		// @include font_bold;
		position: relative;
		padding: 10px 20px 10px 15px;
		cursor: pointer;

		&::after {
			position: absolute;
			top: 20px;
			right: 4px;
			content: '';
			transition: transform .5s ease;
			transform-origin: center .1rem;
			border: .45rem solid transparent;
			border-top: .43rem solid $body_color;
		}
	}
	&__body {
		position: absolute;
		top: -4px;
		left: -10px;
		visibility: hidden;
		opacity: 0;
		transition: visibility 0.2s ease,
					opacity 0.2s ease,
					transform 0.2s ease;
	}

	&__list {
		padding: 6px 0;
		margin: 0;
		list-style: none;
		border: 1px solid #dcdcdc;
		border-radius: 4px;
		background: #fff;
	}

	&__list-item {
		// @include font_bold;
		font-size: 1.3rem;
		color: #6f727c;
		padding: 7px 24px;
		cursor: pointer;

		&_current {
			background: #e4f5ff;
			color: $blue;
		}

		&:hover {
			background: #e4f5ff;
		}
	}
}

.meta-dropdown_opened .meta-dropdown__body {
	visibility: visible;
	opacity: 1;
}

 /* Scroll To Top Button
 ------------------------------------------------------------*/
.scroll-to-top {
	position: fixed;
	right: 5%;
	bottom: 5%;
	width: 44px;
	height: 44px;
	border: 1px solid $blue;
	border-radius: 50%;
	z-index: 20;
	cursor: pointer;
	display: flex;
	transform: translateY(-100px);
		opacity: 0;	
	transition: box-shadow 0.3s ease,
				transform 0.5s ease,
				opacity 0.3s ease,
				bottom 0.3s ease;

	&_show {
		transform: translateY(0px);
		opacity: 1;
	}

	&:hover {
		box-shadow: 0 0 20px 2px rgba(6, 144, 224, 0.548);
	}

	&__icon {
		width: 14px;
		height: 14px;
		margin: auto;
		fill: $blue;
		transform: rotate(90deg);
	}
}

.page-title {
	margin: 0;
	font-size: 4.2rem;
	@include font_bold;
	line-height: 1.142857142857143;
	color: $strong_color;
}