/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.site__footer {
    position: relative;
    // z-index: 101;
}

.site-footer {
    color: white;
    background-color: #41dfd0;
}

.site-footer__widgets {
    padding: 140px 0 110px;
    margin: 0 4%;
    background: url('../images/footer_bg.png') no-repeat center;
    background-size: cover;
}

.footer-widget__row {
    display: flex;
}

.footer-widget__item {
    flex:1 1 190px;
    max-width: 190px;
}

.footer-widget__company-info {
    padding: 0 5px;
}

.footer-widget__company-title {
    color: $active_color;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.04rem;
    margin-bottom: 28px;
}

.footer-widget__company-logo {
    max-width: 92px;
}

.footer-widget__social-list {
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    padding-bottom: 7px;
}

.footer-widget__social-link {
    display: inline-block;
    height: 44px;
    width: 44px;
    position: relative;
    text-align: center;
    line-height: 44px;

    img {
        position: relative;
        z-index: 1;
        vertical-align: middle;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 3px;
        background-color: #fff;
        transition: height .2s ease;
    }

    &:hover{
        &::after {
            height: 100%;
        }
    }
}

.footer-widget__social-link.facebook-color::after {
    background-color: #395896;
}

.footer-widget__social-link.instagram-color::after {
    background-color: #e4007f;
}

.footer-widget__social-link.youtube-color:after {
    background-color: #ff1414;
}

.footer-widget__footer-menu{
    padding: 0 4px;
}

.footer-menu {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        margin-bottom: 27px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.footer-menu__link {
    color: white;
    text-decoration: none;
    letter-spacing: 0.035rem;
    transition: color .2s ease;
    position: relative;

    &:visited,
    &:active {
        color: white;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: -2px;
        display: block;
        height: 1px;
        width: 0;
        background-color: transparent;
        transition: all 0.3s ease;
        right: 50%;
    }

    &:hover {
        color: $active_color;

        &::after {
            width: 100%;
            right: 0%;
            transform: translateX(0);
            background-color: $active_color
        }
    }
}

.footer-widget__company-phones {
    padding: 0 6px;
    position: relative;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
}

.footer-widget__messenger-list {
    display: flex;
    position: absolute;
    top: -38px;

    li {
        margin-right: 13px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.footer-msngr__link {
    opacity: 0.6;

    &:hover {
        opacity: 1;
    }
}

.footer-widget__phone-list {

    li {
        margin-bottom: 27px;

        &:last-child {
            margin-bottom: 0;   
        }
    }
    
    span {
        color: $active_color;
        letter-spacing: 0.035rem;   
    }

    a {
        color: white;
        text-decoration: none;
        letter-spacing: 0.035rem;
    }
}

.footer-widget__address-info {
    position: relative;
    padding: 0 0 0 4px;
}

.footer-widget__address,
.footer-widget__email {
    position: relative;
    letter-spacing: 0.035rem;
    margin-bottom: 80px;

    &::before {
        content: '';
        background: url('../images/icons/map-marker.svg') no-repeat;
        width: 25px;
        height: 25px;
        display: block;
        position: absolute;
        top:-36px;
        left:0;

    }
}

.footer-widget__email {
    margin-bottom: 0;

    &::before {
        background: url('../images/icons/mail.svg') no-repeat;
        width: 20px;
        height: 20px;
        top: -26px;
    }

}

.site-footer__bottom {
    padding: 24px 0;    
    color: $font_color;
    letter-spacing: 0.033rem;
    font-size: 1.3rem;z-index: 101;
    position: relative;
    z-index: 101;
}

.site-footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.site-footer__creater {
    margin-right: 60px;
    padding-top: 4px;

    span {
        
        display: inline-block;
        margin-right: 60px;
    }
}