/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.root {
    position: relative;
    overflow: hidden;
}

.bg-lines {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 0;
    white-space: nowrap;
    

    span {
        width: 1px;
        height: 100%;
        background-color: #9dcdd3;;
        display: inline-block;
        margin-left: 190px;
        position: relative;
        z-index: 100;
        opacity: .3;
        pointer-events: none;
        
        &:first-child{
            margin-left: 102px; 
        }
    }
}

.site {
    position: relative;
}

.site__header {
    background: #fff;
    position: relative;
    z-index: 200;
    // overflow: hidden;
    
}

.site-header__mobile {
    display: none;
}

.mobile-header__logo {
    max-width: 80px;
    padding: 20px 0;
}

.mobile-header__hamburger {
    cursor: pointer;
    position: absolute;
    height: 30px;
    width: 30px;
    right: 15px;
    top: 50%;
    transform: translateY(-10px);

}

.mobile-header__hamburger--active {
    transition: all .3s ease;
    
    .mobile-header__hamburger-item {
        
        &:nth-child(1){
            // top: 8px;
            transform: translateY(8px);
            opacity: 0;
        }

        &:nth-child(2){
            transform: rotate(45deg);
            display: block;
            visibility: visible;
        }

        &:nth-child(3){
            transform: rotate(-45deg);
        }

        &:nth-child(4){
            transform: translateY(-8px);
            opacity: 0;
        }
    }
}

.mobile-header__hamburger-item {
    position: relative;
    height: 2px;
    width: 30px;
    background: #333;
    display: block;
    margin-bottom: 8px;
    border-radius: 4px;
    transition: all .3s ease;

    &:nth-child(2) {
        margin-bottom: -2px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}



@media screen and (min-width: 1570px) {
    .site__header {
        right: 200px;
    }

    .site-header {
        transform: translateX(200px);
    }
}

.site__header--sticky {
    position: absolute;
    width: 100%;
    top: 0;
    transition: all .2s ease;
    box-shadow: 1px 1px 11px 1px rgba(0,0,0,0.2);
}

.topbar {
    height: 38px;
    border-top: 1px solid #cbd3d4;
    border-bottom: 1px solid #cbd3d4;
}

.topbar__row {
    display: flex;
    align-items: center;
    height: 100%;
}

.topbar__item,
.topbar__select {
    font-size: 1.3rem;
}

.topbar__select {
    border: 0;
    appearance: none;
}

.topbar__item--social{
    font-size: 0;
}

.topbar__social-link {
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    height: 36px;
    display: inline-block;
    border-left: 1px solid #cbd3d4;
    transition: background-image .2s ease;
}

.topbar__instagram-icon {
    background-image: url(../images/icons/instagram.svg);

    &:hover {
        background-image: url(../images/icons/instagram_h.svg);
 
    } 
}

.topbar__facebook-icon {
    background-image: url(../images/icons/facebook.svg);
    background-size: 8px;

    &:hover {
        background-image: url(../images/icons/facebook_h.svg);
 
    } 
}

.topbar__youtube-icon {
    background-image: url(../images/icons/youtube.svg);

    &:hover {
        background-image: url(../images/icons/youtube_h.svg);
 
    } 
}

.topbar__social-link:last-child {
    border-right: 1px solid #cbd3d4;
}

.topbar__item--phone {
    padding: 0 0 0 40px;
    display: flex;
    align-items: center;
    height: 36px;
    border-right: 1px solid #cbd3d4;
    width: 326px;
}

.topbar__phone-icons {
    padding: 4px 0 0 0;
}

.phone-icon {
    padding-right: 7px;
}

.phone-icon::before {
    vertical-align: middle;
}

.phone-icon__whatsapp::before {
    content: url('../images/whatsapp.png')
}

.phone-icon__telegram::before {
    content: url('../images/telegram.png')
}

.phone-icon__viber::before {
    content: url('../images/viber.png')
}


.topbar__select--phone {
    padding-left: 13px;
    cursor: pointer;
    letter-spacing: 0.02rem;
    height: 36px;
    line-height: 34px;

    .current {
        color: #687571;
    }
}

.topbar__item--email {
    padding: 0 50px;

    a {
        color: #687571;
    }
}

.topbar__email {
    letter-spacing: 0.033rem;
    text-decoration: none; 
}

.topbar__item--call {
    margin: -1px 0 -1px 0;
    position: relative;
    z-index: 2;
}

.topbar__call-btn {

    color: #ff974a;
    position: relative;
    background-color: transparent;
    display: block;
    transition: color .2s ease;

    &:hover {
        color: #fff;

        &::after {
            height: 100%;
        }
    }

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 0;
        background-color: #ff974a;
        z-index: -1;
        bottom: 0;
        left: 0;
        transition: height .2s ease,
    }
}


.topbar__call-btn {
    border: 1px solid #ff974a;
    // line-height: 40px;
    display: inline-block;
    text-decoration: none;
    padding: 0 40px;
    height: 38px;
    line-height: 36px; 
    letter-spacing: 0.02rem;
}

.topbar__item--search {

    a {
        padding: 0 20px;
        display: block;
    }
    
    border-right: 1px solid #cbd3d4;
}

.topbar__search::before {
    content: url('../images/search_icon.png');
    position: relative;
    top: 4px;
    height: 36px;
    line-height: 36px;
}

.topbar__item--lang,
.topbar__item--currency {
    // padding: 0 9px 0 12px;
    // line-height: 40px;
    border-right: 1px solid #cbd3d4; 
    
    .current {
        color: #bbbbbb;
    }
}

.topbar__select--lang,
.topbar__select--currency {
    padding-right: 14px;
    cursor: pointer;
    height: 36px;
    line-height: 34px;
    padding: 0px 23px 0 11px;

    .current {
        width: 26px !important;
        display: inline-block;
        overflow: hidden;
    }

    &::after {
        background-image: url('../images/icons/angel_arrow_gray.svg');
    }
}

.topbar__item--wishlist { 
    text-align: right;
    flex: 1 1 auto;

    img {
        vertical-align: top;
    }
}

.nav__row {
    padding: 10px 18px;
    display: flex;

}

.nav__barnd {
    margin-right: 90px;
    max-width: 81px;
}

.nav__main-menu {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    flex: 1 1 auto;
    list-style: none;
}

.nav__menu-link {
    @include noto_bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.06rem;
    position: relative;

}

.nav__menu-link:after {
    content: '';
    position: absolute;
    bottom: -6px;
    display: block;
    height: 7px;
    width: 0;
    background-color: transparent;
    transition: all 0.3s ease;
    right: 50%;
}

.nav__menu-link:hover:after {
    width: 100%;
    right: 0%;
    transform: translateX(0);
    background-color: #ffd3a4;  
}

.site__hero {
    position: relative;
    // z-index: 101;
    height: 496px;
    overflow: hidden;
    background: url(../images/hero_banner.jpg) no-repeat center;
    background-size: cover;
}

.hero-banner__overlay-elem {
    width: 190px;
    height: 100%;
    position: absolute;
    top: 0;
    background: #fff;
    left: -190px;
}

.hero-banner__image {
    background: url(../images/hero_banner.jpg) no-repeat center;
    background-size: cover;

}

.hero-banner__title {
    position: absolute;
    top: 230px;
    background: #fff;
    max-width: 949px;
    padding: 17px 47px;

    &::before {
        content: '';
        position: absolute;
        display: block;
        width: 190px;
        height: 496px;
        background-color: #fff;
        left: -189px;
        top: -140px;
    }

    h1 {
        @include noto_bold;
        font-size: 4.8rem;
        letter-spacing: 0.12rem;
        margin-bottom: 0;
        line-height: 1.5; 
    }
}