
// Mixins
// ====================================================================

@mixin ubuntu{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

@mixin ubuntuBold{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}
