
// Mixins
// ====================================================================

@mixin ubuntu{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

@mixin ubuntu_bold{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

@mixin transition($prop: all, $sec: 0.3s){
    transition: $prop $sec ease;
} 
