
// Main Varriables
// ====================================================================

// Colors

$font_main : #515460;
$font_gray : #a8beb7;
$font_blue : #40b5f8;
$font_green : #03ce77;
$font_footer : #767e82;
$brand-footer : #272b38;
$brand-color : #024f5b;

// Fonts
$ubuntu : 'Ubuntu', sans-serif;


