
// Main Varriables
// ====================================================================

// Colors
$font_color : #181818;
$active_color : #FF974A;
$second_color : #41dfd0;

// Fonts
$font_noto : 'Noto Sans', sans-serif;
$font_open : 'Open Sans', sans-serif;