@media screen and (max-width: 1199px) {
    
    .topbar__social-link {
        width: 40px;
    }

    .topbar__item--phone {
        padding: 0 0 0 15px;
        width: 290px;
    }

    .topbar__item--email {
        padding: 0 15px;
    }

    .topbar__call-btn {
        padding: 0 20px;
    }

    .nav__barnd {
        margin-right: 20px;
        max-width: 70px;
    }

    .hero-banner__title h1 {
        font-size: 3.8rem;
    }

    .hero-banner__title {
        max-width: 55%;
    }

    input.input__range {
        flex: 0 0 47%;
        max-width: 47%;
    }

    .article-view__category-list {
        padding: 5px 15px 0;
    }

    .category-list__item {
        width: 47%;
        flex: 0 0 47%;
    }

    .category-list__item:nth-child(2n-1) {
        width: 47%;
        flex: 0 0 47%;
    }
    
    .article-view__options {
        padding: 0 15px;    
    }

    .article-card__price{
        margin-bottom: 20px;
    }

    .article-card__button {
        width: 100%;
        flex: 0 0 100%;
    }

    .readmore-btn {
        width: 100%;
    }

    .site__footer {
        z-index: 101;
    }

    .site-footer__widgets {
        margin: 0;
    }
    
    .footer-widget__item-empty {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .site-header {
        display: none;
    }
    
    .hero-banner__title h1 {
        font-size: 2.3rem;
    }

    .site-header__mobile {
        display: block;
    }

    .category-list__item {
        width: 100%;
        flex: 0 0 100%;
    }

    .category-list__item:nth-child(2n-1) {
        width: 100%;
        flex: 0 0 100%;
    }

    .article-view__options {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .view-option__legend {
        margin-bottom: 20px;
    }

    .footer-widget__row {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .footer-widget__item {
        flex: 1 1 30%;
        max-width: 30%;
    }

    .footer-widget__messenger-list {
        top: 0;
    }

    .footer-widget__company-phones,
    .footer-widget__address-info {
        padding-top: 40px;
        margin-top: 50px;
    }

    .site-footer__creater {
        margin-right: 0;

        span {
            margin-right: 20px;
        }
    }
}

@media screen and (max-width: 768px) {

    html {
        font-size: 80%;
    }

    h2 {
        font-size: 2rem;
        line-height: 1.5; 
    }

    .footer-widget__item {
        flex: 1 1 50%;
        max-width: 50%;
        margin-bottom: 50px;
    }

    .footer-widget__company-phones,
    .footer-widget__address-info {
        margin-top: 0;
    }

    .site-footer__copyrights {
        // order: 2;
        margin-bottom: 30px;
        flex: 1 1 100%;
        max-width: 100%;
        text-align: center;
    }
    
    .site-footer__creater {
        text-align: center;
        font-size: 1.0rem;
        flex: 1 1 100%;
        max-width: 100%;
    }

}

@media screen and (max-width: 576px) {
    
    .hero-banner__title {
        max-width: 90%;
        bottom: 30px;
        top: inherit;
    }
    
    .hero-banner__title h1 {
        font-size: 1.8rem;
    }
    
    .footer-widget__item {
        flex: 1 1 90%;
        max-width: 90%;
        margin: 0 auto 50px;
        text-align: center;
    }

    .footer-widget__company-phones,
    .footer-widget__address-info {
        flex: 1 1 230px;
        max-width: 230px;
    }

    .footer-widget__address::before, .footer-widget__email::before {
        left: calc(50% - 13px);
    }

    .footer-widget__messenger-list {
        transform: translateX(-50%);
        left: 50%;
    }

    
}

