// Utilits
@import 'utils/main';

// Base
@import 'base/main';

// Components
@import 'components/main';

// Header
@import 'layout/header';

// Blocks
@import 'blocks/main';

// Pages
@import 'pages/main';

// Footer
@import 'layout/footer';

.test-slider {
    height: 750px;
    background: url('../images/content/slider.jpg') no-repeat center;
    background-size: cover;
}
