
// Main Varriables
// ====================================================================

// Colors
// $body_color : #0c1937;
$body_color : #1b253b;

$strong_color : #0c1937;
$springGreen : #03ce77;
$skyBlue : #40b5f8;
$lightSkyBlue : #e4f5ff;
$orange : #ffa940;
$blue : #0691e0;

$font_main : #515460;
$font_gray : #a8beb7;
$skyBlue : #40b5f8;
$font_green : #03ce77;
$font_footer : #767e82;
$brand_footer : #272b38;
$brand_color : #024f5b;
$border_color : #dcdcdc;

// Fonts
$ubuntu : 'Ubuntu', sans-serif;

// Colors: 
// section-title #0c1937 / strong #0c1937

// select-border #d9dde8 selct option color 6f727c


