
// Main Varriables
// ====================================================================

// Colors
$body_color : #0c1937;

$font_main : #515460;
$font_gray : #a8beb7;
$font_blue : #40b5f8;
$font_green : #03ce77;
$font_footer : #767e82;
$brand_footer : #272b38;
$brand_color : #024f5b;
$border_color : #dcdcdc;

// Fonts
$ubuntu : 'Ubuntu', sans-serif;

// Colors: 
// section-title #0c1937 / strong #0c1937


