/*--------------------------------------------------------------
# Catalog Page
--------------------------------------------------------------*/

.catalog {

    &__advanced-search {
        padding-top: 62px;
        margin-bottom: -25px;
    }

    // .search-form__tab-item {
    //     margin-bottom: 0;
    // }
}

.catalog-text {

    .container {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 15px;
            width: 10000px;
            height: 100%;
            background: $lightSkyBlue;
        }
    }

    &__deco {
        position: relative;

        &::before,
        &::after {
            content: '';
            position: absolute;
        }

        &::before {
            content: url('../images/general/catalog/catalog-text-figure-left.png');
            top: 220px;
            left: -560px;
        }

        &::after {
            content: url('../images/general/catalog/catalog-text-figure-right.png');
            top: 30px;
            right: -560px;
        }
    }
}

.catalog-text__typography {
    padding: 80px 0 100px 0;
}
