@media (max-width: 1199.98px) {
    
}

@media (max-width: 991.98px) {
    .posts-categories__item {
        flex: 1 0 auto;
        min-width: 33.3333%;
        max-width: 50%;
        // height: 60px;
        border-radius: 0;
        background: white;
    }
    .posts-categories__item::before {
        transition: none;
    }

}


@media (max-width: 767.98px) {

    .posts-categories__item {
        flex: 1 0 auto;
        min-width: 50%;
        max-width: 100%;
    }
}


@media (max-width: 575.98px) {
    .posts-categories__item {
        flex: 1 1 100%;
        max-width: 100%;
        // height: 60px;
        height: 60px;
    }

    .posts-view__list {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: calc(100% + 30px);
            top: -30px;
            left: -15px;
            height: calc(100% - 40px);
            border: 10px solid #e4f5ff;
            border-radius: 4px;
            z-index: -1;
        }
    }

    .posts-categories {
        margin-bottom: 80px;
    }

    .news-posts-row::before,
    .news-posts-row::after,
    .news-posts-row__inner::before {
        display: none;
    }

    .posts-view .news-posts-row {
        padding-top: 0px;
        margin-bottom: 0px;
    }
}

@media (max-width: 413px){
    .post-header__meta-item .post-category {
        margin-bottom: 5px;
        display: inline-block;
    }

    .post .page-header__content {
        min-height: 300px;
    }

    .post__main-content {
        margin-top: -246px;
    }

    .post-header__meta {
        position: relative;
    }

    .post-header__meta-item .post-date {
        position: absolute;
        right: -10px;
        bottom: -40px;
        border-radius: 0 0 4px 4px;
    }

    .post-header__title {
        font-size: 2.8rem;
        line-height: 3.2rem;
    }

    .post__header {
        padding: 0 10px !important;
    }

    .post .page-header__content::before {
        width: calc(100% + 30px)!important;
        left: -15px !important;
    }
}
