/*--------------------------------------------------------------
# About Home Section
--------------------------------------------------------------*/
.about-section {

    position: relative;
    overflow: hidden;
    // padding-bottom: 70px;
    padding-top: 40px;

    &__container {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            height: 232px;
            width: 10000px;
            background: $lightSkyBlue;
            border-radius: 4px 0 0 4px;
            right: -10010px;
            bottom: 30px;

            transition: transform 1s ease 0.5s,
                        opacity 1s ease 0.5s;
        }
    }

    &__company-info {
        // background: $skyBlue;
        position: relative;
        padding: 60px 0 52px;
        margin-bottom: 24px;

        &::after {
            content: '';
            height: 100%;
            width: 10000px;
            background: #0690e0;
            position: absolute;
            border-radius: 0 4px 4px 0;
            top: 0;
            right: 0;
            transition: transform 1s ease 0.5s,
                        opacity 1s ease 0.5s;
                        z-index: -1;
        }

        &::before {
            content: '';
            height: 100%;
            width: 10000px;
            background: url('../images/general/about-section-deco-image.jpg') no-repeat bottom right;
            background-size: 960px;
            position: absolute;
            border-radius: 0 4px 4px 0;
            top: 0;
            right: 0;
            transition: transform 1s ease 0.5s,
                        opacity 1s ease 0.5s;
            opacity: 0.4 !important;
        }
    }

    &__company-name {
        font-size: 4.8rem;
        line-height: 1;
        letter-spacing: 0.1em;
        color: white;
        text-transform: uppercase;
        margin: 0px 0 12px 0;
        position: relative;

        // &::before {
        //     content: '';
        //     width: 212px;
        //     height: 150px;
        //     background: url('../images/icons/title-figure.svg') no-repeat;
        //     background-size: contain;
        //     display: block;
        //     opacity: 0.2;
        //     position: absolute;
        //     top:-40px;
        //     left: -40px;
        // }
    }

    &__company-slogan {
        position: relative;
        color: white;
        font-size: 2.0rem;
        @include font_medium;
        padding-left: 76px;

        &::before {
            content: '';
            width: 56px;
            height: 2px;
            background: white;
            position: absolute;
            left: 0;
            top: 14px;
        }
    }

    &__button {
        margin: auto;
    }
}

// Animation Before Block
[data-scroll="out"].about-section__company-info::before,
[data-scroll="out"].about-section__company-info::after {
    transform: translateX(-1000px);
    opacity: 1;
}
[data-scroll="in"].about-section__company-info::before,
[data-scroll="in"].about-section__company-info::after {
    transform: translateX(0px);
    opacity: 1;
}

[data-scroll="out"].about-section__container::before {
    transform: translateX(1000px);
    opacity: 1;
}

[data-scroll="in"].about-section__container::before {
    transform: translateX(0px);
    opacity: 1;
}



.about-section__service-block {
    margin-bottom: 30px;   
}

/*
* Years Block 
* ------------------------------------------------------------*/
.years-block {
    display: flex;
    // flex-wrap: wrap;
    // padding-top: 5px;
    flex-direction: column;
    border-left: 10px solid #e4f5ff;
    min-height: 232px;

    &__num {
        margin: 10px 28px 29px;
        max-width: 147px;
    }
    
    &__year-text {
        color: $skyBlue;
        font-size: 4.8rem;
        @include font_bold;
        line-height: 0.8;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        margin-bottom: 20px;
    }

    &__desc {
        @include font_medium;
        font-size: 1.6rem;
        overflow: hidden;
        max-height: 74px;
        padding: 0 25px;
    }
}
