/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

// Большие девайсы (большие десктопы, < 1200px)
@media (max-width: 1199.98px) {

    

}

// Средние девайсы («таблетки», < 992px)
@media (max-width: 991.98px) {
    .about-section__company-info::before,
    .about-section__company-info::after {
        width: 100%;
        border-radius: 4px;
    }

    .about-section__company-info::before {
        background-position-x: center;
    }

    .about-section__company-info {
        padding-left: 30px;
    }

    .about-section__container::before {
        display: none;
    }
}

// Малые девайсы («ландшафтные», < 768px)
@media (max-width: 767.98px) {
    .service-block_square .service-block__body {
        padding: 0 16px;
    }

    .about-section__years-block {
        margin-bottom: 30px;
    }

    .service-block__desc {
        text-align: center;
    }

    .about-section__button {
        margin-top: 30px;
    }

    .about-section__company-info::before {
        background-size: cover;
    }

    .about-us__checklist-block {
        margin-bottom: 50px;
    }

    .team-header__quotes-box  {
        padding-left: 30px;
    }
    .team-header__quotes-box::before {
        left: 0;
    }

    .team-header__quotes-box::after {
        left: 0;
    }
}

// Экстрамалые девайсы («телефоны», < 576px)
@media (max-width: 575.98px) {

    .about-section__company-name {
        font-size: 3.6rem;
    }
}

@media (max-width: 400px){
    .about-section__company-info {
        padding: 60px 15px 52px;
    }

    .about-section__company-name {
        font-size: 3.1rem;
    }

    
}
