/*--------------------------------------------------------------
# Advanced Search Form
--------------------------------------------------------------*/

.advanced-search {

    &__form {
        padding: 50px 45px 50px 45px;
        background: white;
        border-radius: 4px;
        position: relative;
        z-index: 1;
        // overflow: hidden;
    }
}

.search-form {

    &__tabs {
        display: flex;
        margin-bottom: 34px;
    }

    &__tab {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $blue;
        font-size: 1.8rem;
        line-height: 1.2;
        text-transform: uppercase;
        @include font_bold;
        flex: 1 1 50%;
        padding: 12px 0;
        border-bottom: 2px solid $blue;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        border-radius: 4px 4px 0 0;

        &:first-child.search-form__tab_current {
            border-radius: 4px 4px 0 4px;
        }

        &:last-child.search-form__tab_current {
            border-radius: 4px 4px 4px 0;
        }

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 0;
            bottom: 0;
            right: 0;
            background-color: $blue;
            z-index: -1;
            transition: height 0.3s ease;
            border-radius: 4px 4px 0 0;
        }

        &-icon {
            margin-right: 11px;
            fill: $blue;
            height: 41px;
            width: 41px;

            &_commercial {
                width: 44px;
            }
        }

        &-name {
            margin: 0 20px;
        }

        &_current {
            // background-color: $skyBlue;
            color: white;
            
            overflow: hidden;

            .search-form__tab-icon {
                fill: white;
            }

            &::before {
                height: 100%;
                
            }
        }

    }

    &__tab-content {
  
        visibility: hidden;
        opacity: 0;
        height: 0;
        width: 0;
        transform: translateY(-10px);
        display: flex;



        &_current {
            visibility: visible;
            opacity: 1;
            height: 100%;
            width: 100%;
            transform: translateY(0px);
            transition: opacity 0.8s ease,
                        visibility 0.8s ease,
                        transform 0.8s ease;
        }
    }

    &__tab-item {
        max-width: 175px;
        flex: 0 0 175px;
        margin-right: 20px;
        margin-bottom: 62px; 

        &:last-child {
            margin-right: 0;
            max-width: inherit;
            flex: 1 1 auto;
        }

        &_price {
            flex: 0 0 250px;
            max-width: 250px;
        }
        
        &_id {
            flex: 0 0 95px;
            max-width: 95px;
        }
    }

    &__select {
            
    }

    &__fieldset-price {
        border-bottom: 2px solid #d9dde8;
    }

    &__input {
        border: 0;
        border-radius: 0;
        -webkit-appearance: none; 
        -moz-appearance:textfield;
        padding: 6px 4px;
        max-width: 41.8%;
        background: transparent;

        &::placeholder {
            color: inherit;
        }
        
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            appearance: none;
        }

        &:focus {

            &::placeholder {
                color:transparent;
            }
        }

        &_id {
            border-bottom: 2px solid #d9dde8;
            max-width: 100%;
        }
    }

    &__currency {
        text-align: right;
        margin-left: auto;
        display: inline-block;
        color: #a9adb6;
    }

    &__button {
        padding: 7px 10px 7px;
        width: 100%;
    }
    
}

.search-form__fieldset-price .dash {
    position: relative;
    display: inline-block;

    &::before {
        content: '';
        position: absolute;
        top: calc(50% - 5px);
        left: -8px;
        width: 10px;
        height: 2px;
        background: #1b253b;
    }
}

@media(min-width: 1200px){
    .search-form__button {
        top: -14px;
        position: relative;
        padding: 14px 10px 12px;
    }
}