/*--------------------------------------------------------------
# CkeckList Block
--------------------------------------------------------------*/
.checklist-block {


    &__content {
        
        ul {
            margin: 0;

            li {
                padding-left: 50px;
                position: relative;
                margin-bottom: 24px;

                &::before {
                    content: url(../images/icons/icon-check.svg);
                    background: none;
                    position: absolute;
                    left: 0;
                    width: 24px;
                    height: 24px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .block-title {
        margin-top: -12px;
        margin-bottom: 46px;
    }
}