// Большие девайсы (большие десктопы, < 1200px)
@media (max-width: 1199.98px) {

}

// Средние девайсы («таблетки», < 992px)
@media (max-width: 991.98px) {
    .hero {
        padding-top: 60px;
        min-height: inherit;
    }

    .hero__banner-title {
        font-size: 4.6rem;
    }
}

// Малые девайсы («ландшафтные», < 768px)
@media (max-width: 767.98px) {
    .hero__banner-title {
        font-size: 4rem;
    }
}

// Экстрамалые девайсы («телефоны», < 576px)
@media (max-width: 420px) {
    .hero__banner-title {
        font-size: 3.6rem;
    }
}

@media (max-width: 320px) {
    .hero__banner-title {
        font-size: 3rem;
    }
}
