/*--------------------------------------------------------------
# Property(Property) View / Grid
--------------------------------------------------------------*/
.property-view {
    padding-bottom: 50px;

    &__grid {
        margin-bottom: 30px;

        .property-card__meta-item_rooms, .property-card__meta-item_square {
            width: calc(100% - 130px);
        }
    }

    &__grid .property-card {
        padding-bottom: 30px;
        height: 100%;
        margin: 0 auto;
    }   

    &__pagination {
        padding-top: 20px;
        margin-bottom: 30px;
    }
}

@media (max-width: 767.98px) {
    .property-view__grid .property-card { max-width: 100%; }
}
 
@media (max-width: 420px) {
    .property-card__meta-item_rooms, .property-card__meta-item_square {
        width: 100% !important;
    }
}