@media (min-width: 992px) and (max-width: 1200px) {
    .property-card {
        max-width: 380px;
    }
    .property-slider {
        width: 830px;
        margin: 0 auto;
    }
    
}  

@media (max-width: 767.98px) { 
    .property-slider__container {
        max-width: 420px;
        margin: 0 auto;

        .property-card {
            max-width: 100%;
        }
    }
}