@media (min-width: 992px) and (max-width: 1200px) {
    .tour-section__block_left::before {
        background-position: 103% bottom;
    }
    
}

@media (max-width: 1199.98px) {
    .tour-section__block_left .tour-section__text-content {
        padding-right: 20px;
    }

    .tour-section__block_right .tour-section__text-content {
        padding-right: 80px;
    }

    .tour-section .button {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }

}

// Средние девайсы («таблетки», < 992px)
@media (max-width: 991.98px) {

    .tour-section__block_left::before {
        right: 50%;
        transform: translateX(50%);
        width: 850px;
        background-position: center 240px;
        background-size: contain;
    }

    .tour-section__block_left {
        padding: 96px 0 360px;
    }

    .tour-section__block_right::before {
        width: 100%;
    }

    .tour-section__block_right {
        padding: 398px 30px 110px;
    }
}

// Малые девайсы («ландшафтные», < 768px)
@media (max-width: 767.98px) {
    .tour-section__block_left .tour-section__text-content {
        padding: 0 20px;
    }

    .tour-section__block_left {
        padding: 100px 0 200px;
    }

    .tour-section__block_right-image {
        width: 95%;
        left: 2.5%;
        top: 2.5%;
    }

    .tour-section__block_right .tour-section__text-content {
        padding-right: 0px;
    }

    .tour-section__block_right {
        padding: 348px 30px 110px;
    }
}

// Экстрамалые девайсы («телефоны», < 576px)
@media (max-width: 575.98px) {
    .tour-section__block_right-image {
        position: relative;
        width: calc(100% + 60px);
        left: -30px;
        margin-bottom: 20px;
    }

    .tour-section__block_right {
        padding: 10px 30px 110px;
    }

    .tour-section__block_left::before {
        right: 50%;
        background-position: center 100%;
        background-size: contain;
        width: calc(100% + 30px);
    }

    .tour-section__block_left {
        padding: 100px 0 240px;
    }
}
