// Большие девайсы (большие десктопы, < 1200px)
@media (max-width: 1199.98px) {
}

// Средние девайсы («таблетки», < 992px)
@media (max-width: 991.98px) {

    .video-section__prev-img {
        height: 140px;
        max-height: 140px;
    }

    .video-section__container {
        padding: 100px 15px;
    }
}

// Малые девайсы («ландшафтные», < 768px)
@media (max-width: 767.98px) {
    .video-section__item {
        margin-bottom: 30px;
    }

    .video-section__prev-img {
        height: 200px;
        max-height: 200px;
    }

}

// Экстрамалые девайсы («телефоны», < 576px)
@media (max-width: 575.98px) {
}
