.advanced-search {

    &__form {
        padding: 0 140px;
    }
}

.search-form {

    &__tabs {
        display: flex;
    }

    &__tab {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $skyBlue;
        font-size: 2.0rem;
        text-transform: uppercase;
        @include font_bold;
        max-width: 50%;
        flex: 0 0 50%;
        padding: 13px 0;
        border-bottom: 2px solid $skyBlue;
        cursor: pointer;

        &-icon {
            margin-right: 11px;
            fill: $skyBlue;
            height: 41px;
            width: 41px;
        }

        &-name {
            margin: 0 20px;
        }

        &_current {
            background-color: $skyBlue;
            color: white;
            border-radius: 4px;

            .search-form__tab-icon {
                fill: white;
            }
        }
    }

    &__tab-content {

        padding: 32px 0;
        display: none;

        &_current {
            display: block;
        }
    }

    &__select {
        margin-bottom: 62px;     
    }
}