/*--------------------------------------------------------------
# Services Inner Page's
--------------------------------------------------------------*/
@media (max-width: 1199.98px) {
    .chess-style-block__media {
        min-width: 100%;
    }

    .services .checklist-block .container::before, .services .checklist-block .container::after {
        display: none;
    }
}

@media (max-width: 991.98px) {

    .services-header {
        padding-top: 60px;
    }

    .subscribe__media {
        width: 390px;
        height: 280px;
    }

    .subscribe__body::before {
        top: -10px;
        transform: scale(0.95);
    }

    .chess-style-block__body {
        // min-height: 394px;
        padding: 30px 20px 50px 20px!important;
    }

    .checklist-block__row-left .checklist-block__content,
    .checklist-block__row-right .checklist-block__content {
        padding-top: 0px;
        padding-left: 15px;
        margin-bottom: 60px;
    }

    .services-header__media {
        left: 50%;
        transform: translateX(-50%);
    }
}


@media (max-width: 767.98px) {

    .services-header__title {
        margin-top: 50px;
    }

    .subscribe {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .subscribe__body {
        max-width: 300px;
    }

    .subscribe__body::before {
        top: -50px;
        left: -85px;

    }

    .subscribe-section {
        padding-bottom: 60px;
    }

    .services-header__title {
        line-height: 1.2;
    }

    
    .chess-style-block__body {
        height: auto;
        min-height: auto;
    }

    .chess-style-block__media {
        height: 340px;
    }

    // .chess-style-block__right .chess-style-block__body,
    // .chess-style-block__left .chess-style-block__body {
    //     padding-top: 30px;
    //     padding-bottom: 30px;
    // }
}


@media (max-width: 575.98px) {

    .subscribe__media {
        width: 100%;
    }

    // .chess-style-block__media,
    // .chess-style-block__body {
    //     height: auto;
    //     min-height: 340px;
    // }

    .chess-style-block__right .chess-style-block__body,
    .chess-style-block__left .chess-style-block__body {
        padding: 0 15px;
    }

    .chess-style-block {
        margin-bottom: 40px;
    }

    .services-header__media {
        width: calc(100% + 40px);
        left: -20px;
        transform: translateX(0);
        background-position: center;
        background-size: cover;
    }
}

@media (max-width: 414px){
    .chess-style-block__right .chess-style-block__body,
    .chess-style-block__left .chess-style-block__body {
        padding: 30px 15px;
        height: auto;
        min-height: auto;
    }

    .services-header__title {
        margin-left: 0;
        font-size: 2.8rem;
        line-height: 3rem;
    }
}

@media (max-width: 320px) {
    .chess-style-block__media {
        height: 290px;
        min-height: 290px;
    }
}
