@media (max-width: 1199.98px)
{
    .advanced-search__form
    {
        padding: 55px 60px 0;
    }
    .search-form__input
    {
        max-width: 42.5%;
    }
}

@media (max-width: 991.98px)
{
    .search-form__select
    {
        margin-bottom: 40px;
    }
    .search-form__fieldset-price
    {
        margin-bottom: 40px;
    }
}

@media (max-width: 767.98px)
{
    .home__advanced-search
    {
        margin-top: 0;
    }
    .advanced-search__form
    {
        padding: 30px 0 0;
    }
    .search-form__select
    {
        margin-bottom: 30px;
    }
    .search-form__fieldset-price
    {
        margin-bottom: 30px;
    }
}

@media (max-width: 575.98px)
{
    .search-form__tab-icon
    {
        width: 34px;
        height: 34px;
    }
    .search-form__tab-name
    {
        margin: 0 10px;
    }
    .search-form__tab
    {
        font-size: 1.6rem;
    }
}

@media (max-width: 400px)
{
    .search-form__tab-icon
    {
        display: none;
    }
}

@media (max-width: 767.98px)
{
    .property-slider__container
    {
        max-width: 420px;
        margin: 0 auto;
    }
    .property-slider__container .property-card
    {
        max-width: 100%;
    }
}

@media (max-width: 1199.98px)
{
    .privilages-section__service-list
    {
        padding: 68px 10px 40px 10px;
    }
    .privilages-section .section-title::before
    {
        top: -210px;
        right: 10px;
    }
    .privilages-section__container-inner::before
    {
        display: none;
    }
}

@media (max-width: 991.98px)
{
    .privilages-section__container-inner::after
    {
        display: none;
    }
    .privilages-section .section-title::before
    {
        top: -194px;
        right: 70px; 

        width: 647px;
        height: 523px;

        content: '';
        -webkit-transform: rotate(-8deg);
            -ms-transform: rotate(-8deg);
                transform: rotate(-8deg);

        background: url('../images/general/privilage-section-title-bg.png') no-repeat;
        background-size: contain;
    }
    .privilages-section__title-area
    {
        margin-bottom: 140px;
    }
}

@media (max-width: 767.98px)
{
    .privilages-section .section-title::before
    {
        right: -30px;
    }
    .privilages-section__button
    {
        margin-right: 40px; 
        margin-left: 40px;
    }
}

@media (max-width: 1199.98px)
{
    .tour-section__block_left .tour-section__text-content
    {
        padding-right: 100px;
    }
    .tour-section__block_right .tour-section__text-content
    {
        padding-right: 80px;
    }
    .tour-section .button
    {
        width: 100%; 
        padding-right: 10px;
        padding-left: 10px;
    }
}

@media (max-width: 1199.98px)
{
    .news-post
    {
        max-width: 280px;
    }
    .news-post__expert
    {
        font-size: 1.9rem;
    }
}

@media (max-width: 991.98px)
{
    .news-post
    {
        max-width: 47%; 
        margin-bottom: 40px;
    }
    .news-post:last-child
    {
        max-width: 100%;
    }
    .news-posts-row__inner::before
    {
        height: 95%;
    }
}

@media (max-width: 767.98px)
{
    .news-post
    {
        max-width: 100%;
    }
    .news-post__expert
    {
        height: 50px;
    }
    .news-posts-row__inner
    {
        padding: 0 15px;
    }
    .news-posts-row__inner::before
    {
        left: -15px; 

        width: -webkit-calc(100% + 30px);
        width:         calc(100% + 30px);
        height: 97%;
    }
}

@media (max-width: 420px)
{
    .news-post__figure
    {
        height: 280px;
    }
    .news-post__expert
    {
        height: 78px;
    }
}

@media (max-width: 320px)
{
    .news-post__figure
    {
        height: 260px;
    }
}

@media (max-width: 1199.98px)
{
    .site__header
    {
        display: none;
    }
    .section-title
    {
        font-size: 3.6rem;
    }
}

/*# sourceMappingURL=media.css.map */
