<!--== Catalogs Front Section  -->
<section class="catalog-grid home__catalog-grid">
        <div class="container">
            <header class="catalog-grid__header">
                <div class="row">
                    <div class="col-lg-6">
                        <h5 class="catalog-grid__slogan">TurkeyState</h5>
                    </div>
                    <div class="col-lg-6">
                        <h2 class="section-title">Компания TurkeyState предлагает Вам:</h2>
                    </div>
                </div>
            </header>
    
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-12">
                                    <div class="catalog-grid__box">
                                        <a href="#" class="catalog-grid__box-inner" title="Виллы и дома">
                                            <figure class="catalog-grid__figure">
                                                <img src="../assets/images/content/cat-grid/cat-grid-image-01.jpg" class="catalog-grid__image" alt="Catalog Grid Image">
                                            </figure>
                                            <div class="catalog-grid__content">
                                                <h4 class="catalog-grid__title">Виллы и дома</h4>
                                                <div class="catalog-grid__descr">от 60 000 €</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="catalog-grid__box">
                                        <a href="#" class="catalog-grid__box-inner" title="От застройщика">
                                            <figure class="catalog-grid__figure">
                                                <img src="../assets/images/content/cat-grid/cat-grid-image-02.jpg" class="catalog-grid__image" alt="Catalog Grid Image">
                                            </figure>
                                            <div class="catalog-grid__content">
                                                <h4 class="catalog-grid__title">От застройщика</h4>
                                                <div class="catalog-grid__descr">от 605 000 €</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>              
                        </div>
                        <div class="col-md-6">
                            <div class="catalog-grid__box catalog-grid__box_full catalog-grid__box_dark-bg">
                                <a href="#" class="catalog-grid__box-inner" title="Недвижимость у моря">
                                    <figure class="catalog-grid__figure">
                                        <img src="../assets/images/content/cat-grid/cat-grid-image-03.jpg" class="catalog-grid__image" alt="Catalog Grid Image">
                                    </figure>
                                    <div class="catalog-grid__content">
                                        <h4 class="catalog-grid__title">Недвижимость у моря</h4>
                                        <div class="catalog-grid__descr">от 120 000 €</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-12">
                            <div class="catalog-grid__box catalog-grid__box_dark-bg">
                                <a href="#" class="catalog-grid__box-inner" title="Недорогая недвижимость">
                                    <figure class="catalog-grid__figure">
                                        <img src="../assets/images/content/cat-grid/cat-grid-image-04.jpg" class="catalog-grid__image" alt="Catalog Grid Image">
                                    </figure>
                                    <div class="catalog-grid__content">
                                        <h4 class="catalog-grid__title">Недорогая недвижимость</h4>
                                        <div class="catalog-grid__descr">от 26 000 €</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="catalog-grid__box">
                                <a href="#" class="catalog-grid__box-inner" title="Недорогая недвижимость">
                                    <figure class="catalog-grid__figure">
                                        <img src="../assets/images/content/cat-grid/cat-grid-image-05.jpg" class="catalog-grid__image" alt="Catalog Grid Image">
                                    </figure>
                                    <div class="catalog-grid__content">
                                        <h4 class="catalog-grid__title">вторичная недвижимость</h4>
                                        <div class="catalog-grid__descr">от 75 000 €</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="catalog-grid__box catalog-grid__box_dark-bg">
                                <a href="#" class="catalog-grid__box-inner" title="Недорогая недвижимость">
                                    <figure class="catalog-grid__figure">
                                        <img src="../assets/images/content/cat-grid/cat-grid-image-06.jpg" class="catalog-grid__image" alt="Catalog Grid Image">
                                    </figure>
                                    <div class="catalog-grid__content">
                                        <h4 class="catalog-grid__title">элитная недвижимость</h4>
                                        <div class="catalog-grid__descr">от 55 000 €</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>