/*--------------------------------------------------------------
# Media Header
--------------------------------------------------------------*/
@media (max-width: 1199.98px) {
    .nav__brand {
        margin-right: 20px;
    }

    .main-menu {
        flex: 1 1 auto;
    }

    .head-meta__email {
        padding: 5px 30px;
    }

}

// Средние девайсы («таблетки», < 992px)
@media (max-width: 991.98px) {

    .header {
        display: none;
    }
}

// Малые девайсы («ландшафтные», < 768px)
@media (max-width: 767.98px) {
}

// Экстрамалые девайсы («телефоны», < 576px)
@media (max-width: 575.98px) {
}
