@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {
    .popup {
        max-width: 460px;
        left: 80px;
    }

    .popup__side-banner {
        left: -200px;
        width: 200px;
    }
}


@media (max-width: 767.98px) {
}


@media (max-width: 575.98px) {
}
