/*--------------------------------------------------------------
# Popup's & Modal Window's
--------------------------------------------------------------*/
.test-container {
    height: 150vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $lightSkyBlue;
    position: relative;
    z-index: 1;
}

.popup {
    background: white;
    max-width: 540px;
    position: relative;
    box-sizing: border-box;
    margin: 45px auto;
    left: 125px;

    &::before {
        content: '';
        border: 10px solid $blue;
        border-radius: 4px;
        width: calc(100% + 48px);
        height: calc(100% + 86px);
        position: absolute;
        top: -43px;
        left: 0;
        z-index: -1;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-direction: column;
        min-height: 472px;
        padding:46px 46px 40px ;

    }

    &__side-banner {
        position: absolute;
        top: 0;
        left: -250px;
        margin: 0;
        height: 100%;
        width: 250px;
        border-radius: 4px 0 0 4px;
        overflow: hidden;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__form {
        margin: 0 36px;

        .input {
            padding: 8px 0;
            width: 100%;
        }

        .textarea {
            resize: none;
            padding: 8px 0;
            overflow:auto;
            display:block;
            align-self: flex-end;
            max-height: 75px;
        }

        .button {
            margin: 0 auto;
        }
    }

    &__close {
        position: absolute;
        top: -20px;
        right: -20px;
    }
    
}

.popup-header {
    margin-bottom: 30px;

    &__title {
        @include font_bold;
        font-size: 2.3rem;
        line-height: 2.6rem;
        color: $heading_color;
        padding-bottom: 13px;
        margin-bottom: 15px;
        position: relative;

        &::before {
            content:'';
            position: absolute;
            width: 40px;
            height: 3px;
            background: $blue;
            bottom: 0;
        }
    }

    &__message {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.popup-stock .popup-header__title {
    @include font_medium;
    font-size: 2rem;
    line-height: 2.6rem;
}

.popup-success {
    left: 0 !important;
    
    &::before {
        left: -43px;
        width: calc(100% + 86px);
    }

    .popup__inner {
        min-height: auto;
    }
}

// Amination 

@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.mfp-slideInUp {
    animation-duration: 800ms;
    animation-fill-mode: both;
    animation-name: slideInUp;
}